<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="33359DenisAnchugov.TUASSchedule" Publisher="CN=39ACF712-36B5-4F15-8366-631E811368B0" Version="1.1.0.10" />
  <mp:PhoneIdentity PhoneProductId="ceae71d9-eef6-4ff6-8e6a-0bdb10875715" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TUAS Schedule</DisplayName>
    <PublisherDisplayName>Denis Anchugov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Schedule.UniversalApp.WindowsPhone.App">
      <m3:VisualElements DisplayName="TUAS Schedule" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\StoreLogo106x106.png" Description="Turku University Of Applied Sciences schedule app." ForegroundText="light" BackgroundColor="darkMagenta">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\badge.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="darkMagenta" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>